---
layout: default
title: home
tag: wip
---

<div id="content-wide">
  {% assign rawtags = "" %}
  {% for item in site.work %}
    {% assign ttags = item.tags | join:'|' | append:'|' %}
    {% assign rawtags = rawtags | append:ttags %}
  {% endfor %}
  {% assign rawtags = rawtags | split:'|' | sort %}

  {% assign site.tags = "" %}
  {% for tag in rawtags %}
    {% if tag != "" %}
      {% if tags == "" %}
        {% assign tags = tag | split:'|' %}
      {% endif %}
      {% unless tags contains tag %}
        {% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
      {% endunless %}
    {% endif %}
  {% endfor %}

  <div>
    <div style="margin-bottom: 2em;">
      <h1 style="margin-bottom: 0">
        The homepage of <a href="{{ site.baseurl }}/about">Lisa M</a>, an artist/designer in Toronto, Canada.
      </h1>
    </div>

    <div style="margin-bottom: 2em">
      <h1 style="margin-bottom: 0">
        <!-- <a class="clean underline" href="/about.html">mel</a> is irresponsible for: <br> -->
        Portfolio:
      </h1>
      <div class="portfolio-grid">
        {% assign sorted = site.work | sort: "date" | reverse %}
        {% for item in sorted %}
          {% if item.category == "main" %}
            <a href="{{ item.url }}" class="plain">
              <div class="portfolio-item">
                <div class="portfolio-img"
                    style="background-image:url('{{ site.baseurl }}/assets/cover/{{ item.cover }}')">
                </div>
                <h5 style="text-align:left">{{ item.short }}</h5>
                <!-- <p><a href="{{ item.url }}">{{ item.short }}</a></p> -->
                <div class="dogear"></div>
              </div>
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>

  <!-- art gallery -->
  <div style="margin-bottom: 2em">
    <h1 style="margin-bottom: 0">
      Gallery:
    </h1>
    <div class="portfolio-grid">
      {% assign sorted = site.art | sort: "date" | reverse %}
      {% for item in sorted %}
        <a href="{{ item.url }}" class="plain">
          <div class="portfolio-item">
            <div class="portfolio-img"
                 style="background-image:url('{{ site.baseurl }}/assets/cover/{{ item. cover }}')">
            </div>
            <h5 style="text-align:left">{{ item.short }}</h5>
            <!-- <p><a href="{{ item.url }}">{{ item.short }}</a></p> -->
            <div class="dogear"></div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>

  <!-- <hr> -->

  <!-- social -->

  <div style="font-size: 3em; margin-bottom: 0">
    <a target="_blank" href="https://twitter.com/ncb0_" class="plain"><img src="/assets/symbols/twitter.svg" alt="Twitter" class="icon"/></a>
    <a target="_blank" href="https://instagram.com/lovelynezu" class="plain"><img src="/assets/symbols/instagram.svg" alt="Instagram" class="icon"/></a>
    <a target="_blank" href="https://lovelynezu.tumblr.com" class="plain"><img src="/assets/symbols/tumblr2.svg" alt="Tumblr" class="icon"/></a>
    <a target="_blank" href="https://www.pixiv.net/en/users/63526507" class="plain"><img src="/assets/symbols/pixiv.svg" alt="Pixiv" class="icon"></a>
    <a target="_blank" href="https://patreon.com/nezita" class="plain"><img src="/assets/symbols/patreon.svg" alt="Patreon" class="icon"/></a>
    <a target="_blank" href="https://ko-fi.com/nezita" class="plain"><img src="/assets/symbols/kofi.svg" alt="Ko-fi" class="icon"/></a>
    <a target="_blank" href="https://nezita.itch.io" class="plain"><img src="/assets/symbols/itchio.svg" alt="Itch.io" class="icon"/></a>
  </div>

  <!-- <div style="margin-bottom: 2em">
    <h3 style="margin-bottom: 0">Notice: Awaiting nezu.world@2.0.</h3>
  </div> -->

  <!-- <div>
    <h3>
      Elsewhere: <a target="_blank" href="https://twitter.com/ncb0_">Twitter</a>, <a target="_blank" href="https://instagram.com/ncb0_">Instagram</a>, <a target="_blank" href="https://www.pixiv.net/en/users/63526507">Pixiv</a>, <a target="_blank" href="https://conejobeat.com">conejobeat.com</a>.
    </h3>
  </div> -->

  <!-- <div>
    <h3>
      Support me: <a target="_blank" href="https://patreon.com/nezita">Patreon</a>, <a target="_blank" href="https://nezita.itch.io/">Itch.io</a>, <a target="_blank" href="http://ko-fi.com/nezita">Ko-fi</a>.
    </h3>
  </div> -->

  <!-- contact -->
  <!-- <div>
    <h3>Forward complaints: <a href="mailto:mel@nezu.world">mel@nezu.world</a>, <a href="http://discord.com/users/272803229274996737">nezu#8000</a>.</h3>
  </div> -->

  <!-- tags -->
  <div id="alltags">
    <h6>
      {% assign taglist = rawtags | uniq %}
      {% for tag in taglist %}
        {% unless tag == "" %}
          <a class="tag" href="{{ site.baseurl }}/tag/{{ tag }}.html">{{tag}}</a>
        {% endunless %}
      {% endfor %}
    </h6>
  </div>
</div>