---
layout: main
title: home
tag: wip
---

{% assign rawtags = "" %}
{% for item in site.work %}
  {% assign ttags = item.tags | join:'|' | append:'|' %}
  {% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% assign site.tags = "" %}
{% for tag in rawtags %}
  {% if tag != "" %}
    {% if tags == "" %}
      {% assign tags = tag | split:'|' %}
    {% endif %}
    {% unless tags contains tag %}
      {% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
    {% endunless %}
  {% endif %}
{% endfor %}

<div>
  <div style="margin-bottom: 2em">
    <h1 style="margin-bottom: 0">
      <!-- <a class="clean underline" href="/about.html">mel</a> is irresponsible for: <br> -->
      work.
    </h1>
    <div class="portfolio-grid">
      {% assign sorted = site.work | sort: "date" | reverse %}
      {% for item in sorted %}
        <a class="clean" href="{{ item.url }}">
          <div class="portfolio-item">
            <div class="portfolio-img"
                style="background-image:url('{{ site.baseurl }}/assets/cover/{{ item.cover }}')">
            </div>
            <h5 style="text-align:left">{{ item.short }}</h5>
            <!-- <p><a class="clean" href="{{ item.url }}">{{ item.short }}</a></p> -->
          </div>
        </a>
      {% endfor %}
    </div>
  </div>

  <!-- art gallery -->
  <div style="margin-bottom: 2em">
    <h1 style="margin-bottom: 0">
      art.
    </h1>
    <div class="portfolio-grid">
      {% assign sorted = site.art | sort: "date" | reverse %}
      {% for item in sorted %}
        <a class="clean" href="{{ item.url }}">
          <div class="portfolio-item">
            <div class="portfolio-img"
                style="background-image:url('{{ site.baseurl }}/assets/cover/{{ item.cover }}')">
            </div>
            <h5 style="text-align:left">{{ item.short }}</h5>
            <!-- <p><a class="clean" href="{{ item.url }}">{{ item.short }}</a></p> -->
          </div>
        </a>
      {% endfor %}
    </div>
  </div>

  <!-- <div style="margin-bottom: 2em">
    <h1 style="margin-bottom: 0">
      blog.
    </h1>
    {% assign sorted = site.posts | sort: "date" | reverse %}
    {% for post in sorted %}
      <div>
        <div>
          <h4>
            <a class="clean" href="{{ post.url }}" style="margin-bottom: 0;">({{ post.date | date: "%Y %m %d" }})</a>
          </h4>
        </div>
        <div style="margin-left: 1.25em;">
          <p><i>{{ post.excerpt | strip_html }}</i></p>
        </div>
      </div>
    {% endfor %}
  </div> -->

  <!-- <h2><a class="clean" href="/about.html">who?</a></h2> -->

  <!-- social -->
  <div>
    <h3>
      elsewhere: <a target="_blank" class="clean" href="https://narratosis.com/nezu">fediverse</a>, <a target="_blank" class="clean" href="https://twitter.com/ncb0_">twitter</a>, <a target="_blank" class="clean" href="https://instagram.com/ncb0_">instagram</a>, <a target="_blank" class="clean" href="https://www.pixiv.net/en/users/63526507">pixiv</a>, <a target="_blank" class="clean" href="https://conejobeat.com">conejobeat.com</a>.
    </h3>
  </div>

  <div>
    <h3>
      support me: <a target="_blank" class="clean" href="https://patreon.com/nezita">patreon</a>, <a target="_blank" class="clean" href="https://nezita.itch.io/">itch.io</a>, <a target="_blank" class="clean" href="https://www.inprnt.com/profile/nezu/">inprnt</a>, <a target="_blank" class="clean" href="http://ko-fi.com/nezita">ko-fi</a>. (i love you!)
    </h3>
  </div>

  <!-- contact -->
  <div>
    <h3>forward complaints: <a class="clean" href="mailto:mel@nezu.world">mel@nezu.world</a>, <a class="clean" href="http://discord.com/users/272803229274996737">nezu#8000</a>.</h3>
    <!-- <ul class="links">
      <li><a class="external2" href="mailto:mel@ncb0.work">mel@ncb0.work</a> </li>
      <li><a class="external2" href="http://discord.com/users/272803229274996737">nezu#8000</a> </li>
    </ul> -->
  </div>

  <!-- tags -->
  <div id="alltags">
    <h6>
      {% assign taglist = rawtags | uniq %}
      {% for tag in taglist %}
        <a class="tag" href="{{ site.baseurl }}/tag/{{ tag }}.html">{{tag}}</a>
      {% endfor %}
    </h6>
  </div>
</div>
