<div id="breadcrumbs">
  <h6>
    {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
      <a class="clean" href="/">nezu.world</a>
      
      {% for crumb in crumbs offset: 1 %}
        {% if forloop.last %}
          <!-- {% if page.year %}
            / {{ page.year }}  
          {% endif %} -->
          
          / {{ page.name | remove: ".md" | downcase}} <br>
          
          {% assign alltags = page.tags %}
          {% for tag in alltags %}
            <a class="clean" href="{{ site.baseurl }}/tag/{{ tag }}.html">#{{tag}}</a>
          {% endfor %}
        {% else %}
          / {{ crumb | replace:'-',' ' | remove:'.html' | downcase }}
        {% endif %}
      {% endfor %}

      {% if page.title == 'home' %}
        <h6 style="padding-top: 0;"><a class="clean" href="/about.html">(c) Lisa M, 2024.</a></h6>
      {% elsif page.title == 'About' %}
        <h6 style="padding-top: 0;"><a class="clean" href="/about.html">(c) Lisa M, 2024.</a></h6>
      {% endif %}
  </h6>
</div>
