<div id="breadcrumbs">
  <h6>
    {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
      <a class="clean" href="/">nezu.world</a>
      {% if page.title == 'home' %}
        <h6 style="padding-top: 0;">(c) mel m., 2023. <a class="clean" href="/about.html">&lsqb;<i>who?</i>&rsqb;</a></h6>
      {% endif %}
      {% for crumb in crumbs offset: 1 %}
        {% if forloop.last %}
          {% if page.year %}
            / {{ page.year }}  
          {% endif %}
          {% if page.collection != "art" %}
            / {{ page.name | remove: ".md" }} <br>
          {% endif %}
          {% assign alltags = page.tags %}
          {% for tag in alltags %}
            <a class="clean" href="{{ site.baseurl }}/tag/{{ tag }}.html">#{{tag}}</a>
          {% endfor %}
        {% else %}
          / {{ crumb | replace:'-',' ' | remove:'.html'}}
        {% endif %}
      {% endfor %}
  </h6>
</div>
