---
layout: default
title: {{ page.tag }}
---

<div id="content-wide">
  {% assign rawtags = "" %}
  {% for item in site.documents %}
    {% assign ttags = item.tags | join:'|' | append:'|' %}
    {% assign rawtags = rawtags | append:ttags %}
  {% endfor %}
  {% assign rawtags = rawtags | split:'|' | sort %}

  {% assign site.tags = "" %}
  {% for tag in rawtags %}
    {% unless tag == "" %}
      {% if tags == "" %}
        {% assign tags = tag | split:'|' %}
      {% endif %}
      {% unless tags contains tag %}
        {% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
      {% endunless %}
    {% endunless %}
  {% endfor %}

  <h1>#{{ page.tag }}</h1>
  <ul style="margin-bottom: 2em">
    {% for item in site.documents %}
      {% if item.tags contains page.tag %}
        <li>
          <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <div id="alltags">
    <h6>
      {% assign taglist = rawtags | uniq %}
      {% for tag in taglist %}
        {% unless tag == "" %}
          <a class="tag" href="{{ site.baseurl }}/tag/{{ tag }}.html">{{tag}}</a>
        {% endunless %}
      {% endfor %}
    </h6>
  </div>
</div>