---
layout: default
---

{% assign rawtags = "" %}
{% for item in site.work %}
  {% assign ttags = item.tags | join:'|' | append:'|' %}
  {% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% assign site.tags = "" %}
{% for tag in rawtags %}
  {% if tag != "" %}
    {% if tags == "" %}
      {% assign tags = tag | split:'|' %}
    {% endif %}
    {% unless tags contains tag %}
      {% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
    {% endunless %}
  {% endif %}
{% endfor %}

<h1>#{{ page.tag }}</h1>
<ul style="margin-bottom: 2em">
  {% for item in site.work %}
    {% if item.tags contains page.tag %}
      <li>
        <a href="{{ item.url }}">{{ item.title }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>

<div id="alltags">
  <h6>
    {% assign taglist = rawtags | uniq %}
    {% for tag in taglist %}
      <a class="tag" href="{{ site.baseurl }}/tag/{{ tag }}.html">{{tag}}</a>
    {% endfor %}
  </h6>
</div>